<a href="https://colab.research.google.com/github/amoheric/Data-Science-Projects/blob/main/Cleaned_Data_Manipulation_Assignment_Week_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the dataset and load it as a pandas dataframe and perform the following:

In [42]:
import pandas as pd

# Attempting to load the dataset from the file path
file_path = '/content/Fast-Food Chains in USA.csv'
df = pd.read_csv(file_path)

# Displaying the structure of the dataset
print(df.info())
print("\nFirst few rows of the dataset:")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB
None

First few rows of the dataset:
  Fast-Food Chains  U.S. Systemwide Sales (Millions - U.S Dollars)  \
0           Arby’s                                            4462
1   Baskin-Robbins                                             686
2        Bojangles                                            1485
3      Burger King                                           10033
4       Carl’s Jr.                                            1560

   Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                              1309               2293
1                                               296               2317
2                                              1924                496
3                                              1470               7054
4                                              1400               1011

   Company Stores  2021 Total Units  Total Change in Units from 2020
0            1116              3409                               40
1               0              2317                              102
2             277               773                               15
3              51              7105                               24
4              47              1058                              -21

In [43]:

# Cleaning the data by removing rows with null/NAN values
df = df.dropna()

# Displaying the structure of the cleaned dataset
print(df.info())
print("\nFirst few rows of the cleaned dataset:")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB
None

First few rows of the cleaned dataset:
  Fast-Food Chains  U.S. Systemwide Sales (Millions - U.S Dollars)  \
0           Arby’s                                            4462
1   Baskin-Robbins                                             686
2        Bojangles                                            1485
3      Burger King                                           10033
4       Carl’s Jr.                                            1560

   Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                              1309               2293
1                                               296               2317
2                                              1924                496
3                                              1470               7054
4                                              1400               1011

   Company Stores  2021 Total Units  Total Change in Units from 2020
0            1116              3409                               40
1               0              2317                              102
2             277               773                               15
3              51              7105                               24
4              47              1058                              -21

In [44]:


# Display the columns to identify the correct column name
print("Columns in the dataset:")
print(df.columns)

Columns in the dataset:
Index(['Fast-Food Chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'Franchised Stores',
       'Company Stores', '2021 Total Units',
       'Total Change in Units from 2020'],
      dtype='object')

1. Using pandas to insert a new record into the dataset with the following details:

Fast-Food Chain: "Subway",

Systemwide Sales: $1000 million,

Average Sales per Unit: $400 thousand,

Franchised Stores: 2000,

Company Stores: 500,

2021 Total Units: 2500,

Total Change in Units from 2020: 50

In [45]:
new_record = {
    'Fast-Food Chain': 'Subway',
    'Systemwide Sales': 1000,
    'Average Sales per Unit': 400,
    'Franchised Stores': 2000,
    'Company Stores': 500,
    '2021 Total Units': 2500,
    'Total Change in Units from 2020': 50
}

In [46]:

# Converting the new_record to a DataFrame and concatenate with the existing DataFrame
new_record_df = pd.DataFrame([new_record])
df = pd.concat([df, new_record_df], ignore_index=True)

# Displaying the updated DataFrame
print(df)

                          Fast-Food Chains  \
0                                   Arby’s
1                           Baskin-Robbins
2                                Bojangles
3                              Burger King
4                               Carl’s Jr.
5                         Checkers/Rally’s
6                              Chick-fil-A
7                                 Chipotle
8                         Church’s Chicken
9                                 Culver’s
10                             Dairy Queen
11                                Del Taco
12                                Domino's
13                                 Dunkin'
14                           El Pollo Loco
15                          Firehouse Subs
16                               Five Guys
17  Freddy’s Frozen Custard & Steakburgers
18                                Hardee’s
19                         In-N-Out Burger
20                         Jack in the Box
21                           Jersey Mike’s
22                            Jimmy John’s
23                                     KFC
24                            Krispy Kreme
25                          Little Caesars
26                           Marco’s Pizza
27                        McAlister’s Deli
28                              McDonald’s
29                   Moe’s Southwest Grill
30                           Panda Express
31                            Panera Bread
32                              Papa Johns
33                           Papa Murphy’s
34                               Pizza Hut
35               Popeyes Louisiana Kitchen
36                                   QDOBA
37                          Raising Cane’s
38                             Shake Shack
39                          Sonic Drive-In
40                               Starbucks
41                                  Subway
42                               Taco Bell
43                             Tim Hortons
44                  Tropical Smoothie Cafe
45                                 Wendy's
46                             Whataburger
47                            White Castle
48                                Wingstop
49                                 Zaxby’s
50                                     NaN

    U.S. Systemwide Sales (Millions - U.S Dollars)  \
0                                           4462.0
1                                            686.0
2                                           1485.0
3                                          10033.0
4                                           1560.0
5                                            931.0
6                                          16700.0
7                                           7547.0
8                                            776.0
9                                           2489.0
10                                          4494.0
11                                           931.0
12                                          8641.0
13                                         10416.0
14                                           973.0
15                                          1044.0
16                                          2093.0
17                                           759.0
18                                          2100.0
19                                          1175.0
20                                          4077.0
21                                          2203.0
22                                          2301.0
23                                          5100.0
24                                           996.0
25                                          4185.0
26                                           899.0
27                                           869.0
28                                         45960.0
29                                           661.0
30                                          4452.0
31                                          5650.0
32                                          3486.0
33                                           809.0
34                                          5500.0
35                                          4775.0
36                                           835.0
37                                          2377.0
38                                           777.0
39                                          5835.0
40                                         24300.0
41                                          9350.0
42                                         12600.0
43                                           687.0
44                                           948.0
45                                         11111.0
46                                          3089.0
47                                           615.0
48                                          2278.0
49                                          2233.0
50                                             NaN

    Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                             1309.0               2293
1                                              296.0               2317
2                                             1924.0                496
3                                             1470.0               7054
4                                             1400.0               1011
5                                             1145.0                568
6                                             6100.0               2650
7                                             2641.0                  0
8                                              870.0                731
9                                             3099.0                831
10                                            1036.0               4337
11                                            1551.0                306
12                                            1317.0               6185
13                                            1127.0               9244
14                                            2000.0                292
15                                             909.0               1101
16                                            3172.0                911
17                                            1842.0                391
18                                            1117.0               1536
19                                            3200.0                  0
20                                            1843.0               2055
21                                            1145.0               2087
22                                             866.0               2616
23                                            1408.0               3906
24                                            4000.0                 51
25                                            1000.0               3601
26                                             934.0                957
27                                            1866.0                472
28                                            3420.0              12775
29                                            1073.0                658
30                                            2173.0                147
31                                            2700.0               1130
32                                            1147.0               2564
33                                             643.0               1213
34                                            1022.0               6526
35                                            1867.0               2716
36                                            1006.0                406
37                                            4893.0                 23
38                                            3679.0                 25
39                                            1643.0               3232
40                                            1200.0               6497
41                                             438.0              21147
42                                            1823.0               6540
43                                            1200.0                637
44                                            1009.0               1038
45                                            1895.0               5535
46                                            3640.0                131
47                                            1749.0                  0
48                                            1592.0               1498
49                                            2484.0                761
50                                               NaN               2000

    Company Stores  2021 Total Units  Total Change in Units from 2020  \
0             1116              3409                               40
1                0              2317                              102
2              277               773                               15
3               51              7105                               24
4               47              1058                              -21
5              266               834                              -13
6               82              2732                              155
7             2966              2966                              198
8              161               892                              -13
9                6               837                               55
10               2              4339                              -22
11             294               600                                4
12             375              6560                              205
13               0              9244                              161
14             189               481                                1
15              39              1140                                9
16             479              1390                                8
17              29               420                               32
18             198              1734                              -32
19             370               370                                5
20             163              2218                              -23
21              13              2100                              246
22              41              2657                               48
23              47              3953                               10
24             307               358                                6
25             580              4181                              -28
26              45              1002                               48
27              33               505                               24
28             663             13438                              244
29               1               659                              -22
30            2187              2334                              150
31             950              2080                              -25
32             600              3164                               30
33              27              1240                              -53
34              22              6548                              -13
35              41              2754                              146
36             333               739                                2
37             544               567                               58
38             218               243                               38
39             320              3552                               26
40            8953             15450                              113
41               0             21147                            -1043
42             462              7002                              203
43               0               637                                4
44               1              1039                              125
45             403              5938                               57
46             742               873                               29
47             349               349                               -6
48              36              1534                              175
49             147               908                                3
50             500              2500                               50

   Fast-Food Chain  Systemwide Sales  Average Sales per Unit
0              NaN               NaN                     NaN
1              NaN               NaN                     NaN
2              NaN               NaN                     NaN
3              NaN               NaN                     NaN
4              NaN               NaN                     NaN
5              NaN               NaN                     NaN
6              NaN               NaN                     NaN
7              NaN               NaN                     NaN
8              NaN               NaN                     NaN
9              NaN               NaN                     NaN
10             NaN               NaN                     NaN
11             NaN               NaN                     NaN
12             NaN               NaN                     NaN
13             NaN               NaN                     NaN
14             NaN               NaN                     NaN
15             NaN               NaN                     NaN
16             NaN               NaN                     NaN
17             NaN               NaN                     NaN
18             NaN               NaN                     NaN
19             NaN               NaN                     NaN
20             NaN               NaN                     NaN
21             NaN               NaN                     NaN
22             NaN               NaN                     NaN
23             NaN               NaN                     NaN
24             NaN               NaN                     NaN
25             NaN               NaN                     NaN
26             NaN               NaN                     NaN
27             NaN               NaN                     NaN
28             NaN               NaN                     NaN
29             NaN               NaN                     NaN
30             NaN               NaN                     NaN
31             NaN               NaN                     NaN
32             NaN               NaN                     NaN
33             NaN               NaN                     NaN
34             NaN               NaN                     NaN
35             NaN               NaN                     NaN
36             NaN               NaN                     NaN
37             NaN               NaN                     NaN
38             NaN               NaN                     NaN
39             NaN               NaN                     NaN
40             NaN               NaN                     NaN
41             NaN               NaN                     NaN
42             NaN               NaN                     NaN
43             NaN               NaN                     NaN
44             NaN               NaN                     NaN
45             NaN               NaN                     NaN
46             NaN               NaN                     NaN
47             NaN               NaN                     NaN
48             NaN               NaN                     NaN
49             NaN               NaN                     NaN
50          Subway            1000.0                   400.0

2. Update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.

In [47]:
df.loc[df['Fast-Food Chain'] == "McDonald's", 'Systemwide Sales'] = 40000

In [48]:

# Checking if the 'Category' column exists, if not, identify the correct column name
print("Columns in the dataset after inserting new record:")
print(df.columns)

Columns in the dataset after inserting new record:
Index(['Fast-Food Chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'Franchised Stores',
       'Company Stores', '2021 Total Units', 'Total Change in Units from 2020',
       'Fast-Food Chain', 'Systemwide Sales', 'Average Sales per Unit'],
      dtype='object')

3. Using pandas to calculate the average systemwide sales for each category of fast food chains, grouped by category.

In [49]:
avg_sales_by_category = df.groupby('Fast-Food Chain')['Systemwide Sales'].mean()

print("Average systemwide sales by category:")
print(avg_sales_by_category)

Average systemwide sales by category:
Fast-Food Chain
Subway    1000.0
Name: Systemwide Sales, dtype: float64

4.Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

In [50]:
top_10_chains_by_avg_sales = df.nlargest(10, 'Average Sales per Unit')[['Fast-Food Chain', 'Average Sales per Unit']]

print("\nTop 10 fast food chains by average sales per unit:")
print(top_10_chains_by_avg_sales)

Top 10 fast food chains by average sales per unit:
   Fast-Food Chain  Average Sales per Unit
50          Subway                   400.0
0              NaN                     NaN
1              NaN                     NaN
2              NaN                     NaN
3              NaN                     NaN
4              NaN                     NaN
5              NaN                     NaN
6              NaN                     NaN
7              NaN                     NaN
8              NaN                     NaN

5. Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.

In [51]:
chains_more_franchised_than_company = df[df['Franchised Stores'] > df['Company Stores']]['Fast-Food Chain']

print("\nFast food chains with more franchised stores than company stores:")
print(chains_more_franchised_than_company)

Fast food chains with more franchised stores than company stores:
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
20       NaN
21       NaN
22       NaN
23       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
39       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
48       NaN
49       NaN
50    Subway
Name: Fast-Food Chain, dtype: object

6. Using pandas delete all records from the dataset where the total change in units from 2020 is negative.

In [52]:
df = df[df['Total Change in Units from 2020'] >= 0]

print("\nDataset after deleting records with negative change in units from 2020:")
print(df)

Dataset after deleting records with negative change in units from 2020:
                          Fast-Food Chains  \
0                                   Arby’s
1                           Baskin-Robbins
2                                Bojangles
3                              Burger King
6                              Chick-fil-A
7                                 Chipotle
9                                 Culver’s
11                                Del Taco
12                                Domino's
13                                 Dunkin'
14                           El Pollo Loco
15                          Firehouse Subs
16                               Five Guys
17  Freddy’s Frozen Custard & Steakburgers
19                         In-N-Out Burger
21                           Jersey Mike’s
22                            Jimmy John’s
23                                     KFC
24                            Krispy Kreme
26                           Marco’s Pizza
27                        McAlister’s Deli
28                              McDonald’s
30                           Panda Express
32                              Papa Johns
35               Popeyes Louisiana Kitchen
36                                   QDOBA
37                          Raising Cane’s
38                             Shake Shack
39                          Sonic Drive-In
40                               Starbucks
42                               Taco Bell
43                             Tim Hortons
44                  Tropical Smoothie Cafe
45                                 Wendy's
46                             Whataburger
48                                Wingstop
49                                 Zaxby’s
50                                     NaN

    U.S. Systemwide Sales (Millions - U.S Dollars)  \
0                                           4462.0
1                                            686.0
2                                           1485.0
3                                          10033.0
6                                          16700.0
7                                           7547.0
9                                           2489.0
11                                           931.0
12                                          8641.0
13                                         10416.0
14                                           973.0
15                                          1044.0
16                                          2093.0
17                                           759.0
19                                          1175.0
21                                          2203.0
22                                          2301.0
23                                          5100.0
24                                           996.0
26                                           899.0
27                                           869.0
28                                         45960.0
30                                          4452.0
32                                          3486.0
35                                          4775.0
36                                           835.0
37                                          2377.0
38                                           777.0
39                                          5835.0
40                                         24300.0
42                                         12600.0
43                                           687.0
44                                           948.0
45                                         11111.0
46                                          3089.0
48                                          2278.0
49                                          2233.0
50                                             NaN

    Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                             1309.0               2293
1                                              296.0               2317
2                                             1924.0                496
3                                             1470.0               7054
6                                             6100.0               2650
7                                             2641.0                  0
9                                             3099.0                831
11                                            1551.0                306
12                                            1317.0               6185
13                                            1127.0               9244
14                                            2000.0                292
15                                             909.0               1101
16                                            3172.0                911
17                                            1842.0                391
19                                            3200.0                  0
21                                            1145.0               2087
22                                             866.0               2616
23                                            1408.0               3906
24                                            4000.0                 51
26                                             934.0                957
27                                            1866.0                472
28                                            3420.0              12775
30                                            2173.0                147
32                                            1147.0               2564
35                                            1867.0               2716
36                                            1006.0                406
37                                            4893.0                 23
38                                            3679.0                 25
39                                            1643.0               3232
40                                            1200.0               6497
42                                            1823.0               6540
43                                            1200.0                637
44                                            1009.0               1038
45                                            1895.0               5535
46                                            3640.0                131
48                                            1592.0               1498
49                                            2484.0                761
50                                               NaN               2000

    Company Stores  2021 Total Units  Total Change in Units from 2020  \
0             1116              3409                               40
1                0              2317                              102
2              277               773                               15
3               51              7105                               24
6               82              2732                              155
7             2966              2966                              198
9                6               837                               55
11             294               600                                4
12             375              6560                              205
13               0              9244                              161
14             189               481                                1
15              39              1140                                9
16             479              1390                                8
17              29               420                               32
19             370               370                                5
21              13              2100                              246
22              41              2657                               48
23              47              3953                               10
24             307               358                                6
26              45              1002                               48
27              33               505                               24
28             663             13438                              244
30            2187              2334                              150
32             600              3164                               30
35              41              2754                              146
36             333               739                                2
37             544               567                               58
38             218               243                               38
39             320              3552                               26
40            8953             15450                              113
42             462              7002                              203
43               0               637                                4
44               1              1039                              125
45             403              5938                               57
46             742               873                               29
48              36              1534                              175
49             147               908                                3
50             500              2500                               50

   Fast-Food Chain  Systemwide Sales  Average Sales per Unit
0              NaN               NaN                     NaN
1              NaN               NaN                     NaN
2              NaN               NaN                     NaN
3              NaN               NaN                     NaN
6              NaN               NaN                     NaN
7              NaN               NaN                     NaN
9              NaN               NaN                     NaN
11             NaN               NaN                     NaN
12             NaN               NaN                     NaN
13             NaN               NaN                     NaN
14             NaN               NaN                     NaN
15             NaN               NaN                     NaN
16             NaN               NaN                     NaN
17             NaN               NaN                     NaN
19             NaN               NaN                     NaN
21             NaN               NaN                     NaN
22             NaN               NaN                     NaN
23             NaN               NaN                     NaN
24             NaN               NaN                     NaN
26             NaN               NaN                     NaN
27             NaN               NaN                     NaN
28             NaN               NaN                     NaN
30             NaN               NaN                     NaN
32             NaN               NaN                     NaN
35             NaN               NaN                     NaN
36             NaN               NaN                     NaN
37             NaN               NaN                     NaN
38             NaN               NaN                     NaN
39             NaN               NaN                     NaN
40             NaN               NaN                     NaN
42             NaN               NaN                     NaN
43             NaN               NaN                     NaN
44             NaN               NaN                     NaN
45             NaN               NaN                     NaN
46             NaN               NaN                     NaN
48             NaN               NaN                     NaN
49             NaN               NaN                     NaN
50          Subway            1000.0                   400.0

In [53]:

# Displaying all my concluded data manipulation results
print("Average systemwide sales by category:")
print(avg_sales_by_category)

print("\nTop 10 fast food chains by average sales per unit:")
print(top_10_chains_by_avg_sales)

print("\nFast food chains with more franchised stores than company stores:")
print(chains_more_franchised_than_company)

print("\nDataset after deleting records with negative change in units from 2020:")
print(df)

Average systemwide sales by category:
Fast-Food Chain
Subway    1000.0
Name: Systemwide Sales, dtype: float64

Top 10 fast food chains by average sales per unit:
   Fast-Food Chain  Average Sales per Unit
50          Subway                   400.0
0              NaN                     NaN
1              NaN                     NaN
2              NaN                     NaN
3              NaN                     NaN
4              NaN                     NaN
5              NaN                     NaN
6              NaN                     NaN
7              NaN                     NaN
8              NaN                     NaN

Fast food chains with more franchised stores than company stores:
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
20       NaN
21       NaN
22       NaN
23       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
39       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
48       NaN
49       NaN
50    Subway
Name: Fast-Food Chain, dtype: object

Dataset after deleting records with negative change in units from 2020:
                          Fast-Food Chains  \
0                                   Arby’s
1                           Baskin-Robbins
2                                Bojangles
3                              Burger King
6                              Chick-fil-A
7                                 Chipotle
9                                 Culver’s
11                                Del Taco
12                                Domino's
13                                 Dunkin'
14                           El Pollo Loco
15                          Firehouse Subs
16                               Five Guys
17  Freddy’s Frozen Custard & Steakburgers
19                         In-N-Out Burger
21                           Jersey Mike’s
22                            Jimmy John’s
23                                     KFC
24                            Krispy Kreme
26                           Marco’s Pizza
27                        McAlister’s Deli
28                              McDonald’s
30                           Panda Express
32                              Papa Johns
35               Popeyes Louisiana Kitchen
36                                   QDOBA
37                          Raising Cane’s
38                             Shake Shack
39                          Sonic Drive-In
40                               Starbucks
42                               Taco Bell
43                             Tim Hortons
44                  Tropical Smoothie Cafe
45                                 Wendy's
46                             Whataburger
48                                Wingstop
49                                 Zaxby’s
50                                     NaN

    U.S. Systemwide Sales (Millions - U.S Dollars)  \
0                                           4462.0
1                                            686.0
2                                           1485.0
3                                          10033.0
6                                          16700.0
7                                           7547.0
9                                           2489.0
11                                           931.0
12                                          8641.0
13                                         10416.0
14                                           973.0
15                                          1044.0
16                                          2093.0
17                                           759.0
19                                          1175.0
21                                          2203.0
22                                          2301.0
23                                          5100.0
24                                           996.0
26                                           899.0
27                                           869.0
28                                         45960.0
30                                          4452.0
32                                          3486.0
35                                          4775.0
36                                           835.0
37                                          2377.0
38                                           777.0
39                                          5835.0
40                                         24300.0
42                                         12600.0
43                                           687.0
44                                           948.0
45                                         11111.0
46                                          3089.0
48                                          2278.0
49                                          2233.0
50                                             NaN

    Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                             1309.0               2293
1                                              296.0               2317
2                                             1924.0                496
3                                             1470.0               7054
6                                             6100.0               2650
7                                             2641.0                  0
9                                             3099.0                831
11                                            1551.0                306
12                                            1317.0               6185
13                                            1127.0               9244
14                                            2000.0                292
15                                             909.0               1101
16                                            3172.0                911
17                                            1842.0                391
19                                            3200.0                  0
21                                            1145.0               2087
22                                             866.0               2616
23                                            1408.0               3906
24                                            4000.0                 51
26                                             934.0                957
27                                            1866.0                472
28                                            3420.0              12775
30                                            2173.0                147
32                                            1147.0               2564
35                                            1867.0               2716
36                                            1006.0                406
37                                            4893.0                 23
38                                            3679.0                 25
39                                            1643.0               3232
40                                            1200.0               6497
42                                            1823.0               6540
43                                            1200.0                637
44                                            1009.0               1038
45                                            1895.0               5535
46                                            3640.0                131
48                                            1592.0               1498
49                                            2484.0                761
50                                               NaN               2000

    Company Stores  2021 Total Units  Total Change in Units from 2020  \
0             1116              3409                               40
1                0              2317                              102
2              277               773                               15
3               51              7105                               24
6               82              2732                              155
7             2966              2966                              198
9                6               837                               55
11             294               600                                4
12             375              6560                              205
13               0              9244                              161
14             189               481                                1
15              39              1140                                9
16             479              1390                                8
17              29               420                               32
19             370               370                                5
21              13              2100                              246
22              41              2657                               48
23              47              3953                               10
24             307               358                                6
26              45              1002                               48
27              33               505                               24
28             663             13438                              244
30            2187              2334                              150
32             600              3164                               30
35              41              2754                              146
36             333               739                                2
37             544               567                               58
38             218               243                               38
39             320              3552                               26
40            8953             15450                              113
42             462              7002                              203
43               0               637                                4
44               1              1039                              125
45             403              5938                               57
46             742               873                               29
48              36              1534                              175
49             147               908                                3
50             500              2500                               50

   Fast-Food Chain  Systemwide Sales  Average Sales per Unit
0              NaN               NaN                     NaN
1              NaN               NaN                     NaN
2              NaN               NaN                     NaN
3              NaN               NaN                     NaN
6              NaN               NaN                     NaN
7              NaN               NaN                     NaN
9              NaN               NaN                     NaN
11             NaN               NaN                     NaN
12             NaN               NaN                     NaN
13             NaN               NaN                     NaN
14             NaN               NaN                     NaN
15             NaN               NaN                     NaN
16             NaN               NaN                     NaN
17             NaN               NaN                     NaN
19             NaN               NaN                     NaN
21             NaN               NaN                     NaN
22             NaN               NaN                     NaN
23             NaN               NaN                     NaN
24             NaN               NaN                     NaN
26             NaN               NaN                     NaN
27             NaN               NaN                     NaN
28             NaN               NaN                     NaN
30             NaN               NaN                     NaN
32             NaN               NaN                     NaN
35             NaN               NaN                     NaN
36             NaN               NaN                     NaN
37             NaN               NaN                     NaN
38             NaN               NaN                     NaN
39             NaN               NaN                     NaN
40             NaN               NaN                     NaN
42             NaN               NaN                     NaN
43             NaN               NaN                     NaN
44             NaN               NaN                     NaN
45             NaN               NaN                     NaN
46             NaN               NaN                     NaN
48             NaN               NaN                     NaN
49             NaN               NaN                     NaN
50          Subway            1000.0                   400.0

In [54]:
# Cleaning the data by removing rows with null/NAN values
df = df.dropna()

# Displaying the structure of the cleaned dataset
print(df.info())
print("\nFirst few rows of the cleaned dataset:")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  0 non-null      object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    0 non-null      float64
 2   Average Sales per Unit (Thousands - U.S Dollars)  0 non-null      float64
 3   Franchised Stores                                 0 non-null      int64
 4   Company Stores                                    0 non-null      int64
 5   2021 Total Units                                  0 non-null      int64
 6   Total Change in Units from 2020                   0 non-null      int64
 7   Fast-Food Chain                                   0 non-null      object
 8   Systemwide Sales                                  0 non-null      float64
 9   Average Sales per Unit                            0 non-null      float64
dtypes: float64(4), int64(4), object(2)
memory usage: 0.0+ bytes
None

First few rows of the cleaned dataset:
Empty DataFrame
Columns: [Fast-Food Chains, U.S. Systemwide Sales (Millions - U.S Dollars), Average Sales per Unit (Thousands - U.S Dollars), Franchised Stores, Company Stores, 2021 Total Units, Total Change in Units from 2020, Fast-Food Chain, Systemwide Sales, Average Sales per Unit]
Index: []



1.   The dataset was cleaned by removing rows with null/NAN values. - df = df.dropna()
2.   A new record for Subway was successfully inserted.
3.   The systemwide sales for McDonald's were updated to $40000 million.
4.   The average systemwide sales for each fast food chain were calculated.
5.   The top 10 fast food chains with the highest average sales per unit were retrieved.
6.   The names of fast food chains with more franchised stores than company stores were retrieved.
7.   All records with a negative change in units from 2020 were deleted from the dataset.