<a href="https://colab.research.google.com/github/amoheric/Data-Science-Projects/blob/main/Data_Manipulation_Week_4_Assignment_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the dataset and load it as a pandas dataframe and perform the following:

In [15]:
# Display the columns in the DataFrame
print(df.columns)

Index(['Fast-Food Chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'Franchised Stores',
       'Company Stores', '2021 Total Units', 'Total Change in Units from 2020',
       'Fast-Food Chain', 'Systemwide Sales', 'Average Sales per Unit'],
      dtype='object')

In [16]:
import pandas as pd

# Attempting to load the dataset from the file path
file_path = '/content/Fast-Food Chains in USA.csv'
df = pd.read_csv(file_path)

# Display the first few rows to understand the structure
df.head()

,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Arby’s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bojangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carl’s Jr.,1560,1400,1011,47,1058,-21

1. Using pandas to insert a new record into the dataset with the following details:

Fast-Food Chain: "Subway",

Systemwide Sales: $1000 million,

Average Sales per Unit: $400 thousand,

Franchised Stores: 2000,

Company Stores: 500,

2021 Total Units: 2500,

Total Change in Units from 2020: 50

In [9]:
import pandas as pd

# Attempting to load the dataset from the file path
file_path = '/content/Fast-Food Chains in USA.csv'
df = pd.read_csv(file_path)

# Displaying the structure of the dataset
print(df.info())
print("\nFirst few rows of the dataset:")


# Displaying the first few rows to understand the structure
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Fast-Food Chains                                  50 non-null     object
 1   U.S. Systemwide Sales (Millions - U.S Dollars)    50 non-null     int64
 2   Average Sales per Unit (Thousands - U.S Dollars)  50 non-null     int64
 3   Franchised Stores                                 50 non-null     int64
 4   Company Stores                                    50 non-null     int64
 5   2021 Total Units                                  50 non-null     int64
 6   Total Change in Units from 2020                   50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB
None

First few rows of the dataset:
  Fast-Food Chains  U.S. Systemwide Sales (Millions - U.S Dollars)  \
0           Arby’s                                            4462
1   Baskin-Robbins                                             686
2        Bojangles                                            1485
3      Burger King                                           10033
4       Carl’s Jr.                                            1560

   Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                              1309               2293
1                                               296               2317
2                                              1924                496
3                                              1470               7054
4                                              1400               1011

   Company Stores  2021 Total Units  Total Change in Units from 2020
0            1116              3409                               40
1               0              2317                              102
2             277               773                               15
3              51              7105                               24
4              47              1058                              -21

In [17]:
#Code here

# Display the columns to identify the correct column name
print("Columns in the dataset:")
print(df.columns)

# Inserting the new record into the dataset
new_record = {
    'Fast-Food Chain': 'Subway',
    'Systemwide Sales': 1000,
    'Average Sales per Unit': 400,
    'Franchised Stores': 2000,
    'Company Stores': 500,
    '2021 Total Units': 2500,
    'Total Change in Units from 2020': 50
}

# Converting the new_record to a DataFrame and concatenate with the existing DataFrame
new_record_df = pd.DataFrame([new_record])
df = pd.concat([df, new_record_df], ignore_index=True)

Columns in the dataset:
Index(['Fast-Food Chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'Franchised Stores',
       'Company Stores', '2021 Total Units',
       'Total Change in Units from 2020'],
      dtype='object')

2. Update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.

In [18]:
#Code here

df.loc[df['Fast-Food Chain'] == "McDonald's", 'Systemwide Sales'] = 40000

In [19]:
# Checking if the 'Category' column exists, if not, identify the correct column name
print("Columns in the dataset after inserting new record:")
print(df.columns)

Columns in the dataset after inserting new record:
Index(['Fast-Food Chains', 'U.S. Systemwide Sales (Millions - U.S Dollars)',
       'Average Sales per Unit (Thousands - U.S Dollars)', 'Franchised Stores',
       'Company Stores', '2021 Total Units', 'Total Change in Units from 2020',
       'Fast-Food Chain', 'Systemwide Sales', 'Average Sales per Unit'],
      dtype='object')

3. Using pandas to calculate the average systemwide sales for each category of fast food chains, grouped by category.

In [28]:
#Code here

# Assuming the correct column name for systemwide sales is 'Systemwide Sales'
correct_column_name = 'Fast-Food Chains'
avg_sales_by_category = df.groupby(correct_column_name)['Systemwide Sales'].mean()

print("Average systemwide sales by category:")
print(avg_sales_by_category)

Average systemwide sales by category:
Fast-Food Chains
Arby’s                                   NaN
Baskin-Robbins                           NaN
Bojangles                                NaN
Burger King                              NaN
Chick-fil-A                              NaN
Chipotle                                 NaN
Culver’s                                 NaN
Del Taco                                 NaN
Domino's                                 NaN
Dunkin'                                  NaN
El Pollo Loco                            NaN
Firehouse Subs                           NaN
Five Guys                                NaN
Freddy’s Frozen Custard & Steakburgers   NaN
In-N-Out Burger                          NaN
Jersey Mike’s                            NaN
Jimmy John’s                             NaN
KFC                                      NaN
Krispy Kreme                             NaN
Marco’s Pizza                            NaN
McAlister’s Deli                         NaN
McDonald’s                               NaN
Panda Express                            NaN
Papa Johns                               NaN
Popeyes Louisiana Kitchen                NaN
QDOBA                                    NaN
Raising Cane’s                           NaN
Shake Shack                              NaN
Sonic Drive-In                           NaN
Starbucks                                NaN
Taco Bell                                NaN
Tim Hortons                              NaN
Tropical Smoothie Cafe                   NaN
Wendy's                                  NaN
Whataburger                              NaN
Wingstop                                 NaN
Zaxby’s                                  NaN
Name: Systemwide Sales, dtype: float64

4.Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

In [29]:
#Code here

top_10_chains_by_avg_sales = df.nlargest(10, 'Average Sales per Unit')[['Fast-Food Chain', 'Average Sales per Unit']]

print("\nTop 10 fast food chains by average sales per unit:")
print(top_10_chains_by_avg_sales)

Top 10 fast food chains by average sales per unit:
   Fast-Food Chain  Average Sales per Unit
50          Subway                   400.0
0              NaN                     NaN
1              NaN                     NaN
2              NaN                     NaN
3              NaN                     NaN
6              NaN                     NaN
7              NaN                     NaN
9              NaN                     NaN
11             NaN                     NaN
12             NaN                     NaN

5. Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.

In [30]:
#Code here

#fast_food_chains = df[(df['Franchised Stores'] > df['Company Stores'])]['Fast-Food Chain']
chains_more_franchised_than_company = df[df['Franchised Stores'] > df['Company Stores']]['Fast-Food Chain']

print("\nFast food chains with more franchised stores than company stores:")
print(chains_more_franchised_than_company)

Fast food chains with more franchised stores than company stores:
0        NaN
1        NaN
2        NaN
3        NaN
6        NaN
9        NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
21       NaN
22       NaN
23       NaN
26       NaN
27       NaN
28       NaN
32       NaN
35       NaN
36       NaN
39       NaN
42       NaN
43       NaN
44       NaN
45       NaN
48       NaN
49       NaN
50    Subway
Name: Fast-Food Chain, dtype: object

6. Using pandas delete all records from the dataset where the total change in units from 2020 is negative.

In [31]:
#Code here

df = df[df['Total Change in Units from 2020'] >= 0]

print("\nDataset after deleting records with negative change in units from 2020:")
print(df)

Dataset after deleting records with negative change in units from 2020:
                          Fast-Food Chains  \
0                                   Arby’s
1                           Baskin-Robbins
2                                Bojangles
3                              Burger King
6                              Chick-fil-A
7                                 Chipotle
9                                 Culver’s
11                                Del Taco
12                                Domino's
13                                 Dunkin'
14                           El Pollo Loco
15                          Firehouse Subs
16                               Five Guys
17  Freddy’s Frozen Custard & Steakburgers
19                         In-N-Out Burger
21                           Jersey Mike’s
22                            Jimmy John’s
23                                     KFC
24                            Krispy Kreme
26                           Marco’s Pizza
27                        McAlister’s Deli
28                              McDonald’s
30                           Panda Express
32                              Papa Johns
35               Popeyes Louisiana Kitchen
36                                   QDOBA
37                          Raising Cane’s
38                             Shake Shack
39                          Sonic Drive-In
40                               Starbucks
42                               Taco Bell
43                             Tim Hortons
44                  Tropical Smoothie Cafe
45                                 Wendy's
46                             Whataburger
48                                Wingstop
49                                 Zaxby’s
50                                     NaN

    U.S. Systemwide Sales (Millions - U.S Dollars)  \
0                                           4462.0
1                                            686.0
2                                           1485.0
3                                          10033.0
6                                          16700.0
7                                           7547.0
9                                           2489.0
11                                           931.0
12                                          8641.0
13                                         10416.0
14                                           973.0
15                                          1044.0
16                                          2093.0
17                                           759.0
19                                          1175.0
21                                          2203.0
22                                          2301.0
23                                          5100.0
24                                           996.0
26                                           899.0
27                                           869.0
28                                         45960.0
30                                          4452.0
32                                          3486.0
35                                          4775.0
36                                           835.0
37                                          2377.0
38                                           777.0
39                                          5835.0
40                                         24300.0
42                                         12600.0
43                                           687.0
44                                           948.0
45                                         11111.0
46                                          3089.0
48                                          2278.0
49                                          2233.0
50                                             NaN

    Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                             1309.0               2293
1                                              296.0               2317
2                                             1924.0                496
3                                             1470.0               7054
6                                             6100.0               2650
7                                             2641.0                  0
9                                             3099.0                831
11                                            1551.0                306
12                                            1317.0               6185
13                                            1127.0               9244
14                                            2000.0                292
15                                             909.0               1101
16                                            3172.0                911
17                                            1842.0                391
19                                            3200.0                  0
21                                            1145.0               2087
22                                             866.0               2616
23                                            1408.0               3906
24                                            4000.0                 51
26                                             934.0                957
27                                            1866.0                472
28                                            3420.0              12775
30                                            2173.0                147
32                                            1147.0               2564
35                                            1867.0               2716
36                                            1006.0                406
37                                            4893.0                 23
38                                            3679.0                 25
39                                            1643.0               3232
40                                            1200.0               6497
42                                            1823.0               6540
43                                            1200.0                637
44                                            1009.0               1038
45                                            1895.0               5535
46                                            3640.0                131
48                                            1592.0               1498
49                                            2484.0                761
50                                               NaN               2000

    Company Stores  2021 Total Units  Total Change in Units from 2020  \
0             1116              3409                               40
1                0              2317                              102
2              277               773                               15
3               51              7105                               24
6               82              2732                              155
7             2966              2966                              198
9                6               837                               55
11             294               600                                4
12             375              6560                              205
13               0              9244                              161
14             189               481                                1
15              39              1140                                9
16             479              1390                                8
17              29               420                               32
19             370               370                                5
21              13              2100                              246
22              41              2657                               48
23              47              3953                               10
24             307               358                                6
26              45              1002                               48
27              33               505                               24
28             663             13438                              244
30            2187              2334                              150
32             600              3164                               30
35              41              2754                              146
36             333               739                                2
37             544               567                               58
38             218               243                               38
39             320              3552                               26
40            8953             15450                              113
42             462              7002                              203
43               0               637                                4
44               1              1039                              125
45             403              5938                               57
46             742               873                               29
48              36              1534                              175
49             147               908                                3
50             500              2500                               50

   Fast-Food Chain  Systemwide Sales  Average Sales per Unit
0              NaN               NaN                     NaN
1              NaN               NaN                     NaN
2              NaN               NaN                     NaN
3              NaN               NaN                     NaN
6              NaN               NaN                     NaN
7              NaN               NaN                     NaN
9              NaN               NaN                     NaN
11             NaN               NaN                     NaN
12             NaN               NaN                     NaN
13             NaN               NaN                     NaN
14             NaN               NaN                     NaN
15             NaN               NaN                     NaN
16             NaN               NaN                     NaN
17             NaN               NaN                     NaN
19             NaN               NaN                     NaN
21             NaN               NaN                     NaN
22             NaN               NaN                     NaN
23             NaN               NaN                     NaN
24             NaN               NaN                     NaN
26             NaN               NaN                     NaN
27             NaN               NaN                     NaN
28             NaN               NaN                     NaN
30             NaN               NaN                     NaN
32             NaN               NaN                     NaN
35             NaN               NaN                     NaN
36             NaN               NaN                     NaN
37             NaN               NaN                     NaN
38             NaN               NaN                     NaN
39             NaN               NaN                     NaN
40             NaN               NaN                     NaN
42             NaN               NaN                     NaN
43             NaN               NaN                     NaN
44             NaN               NaN                     NaN
45             NaN               NaN                     NaN
46             NaN               NaN                     NaN
48             NaN               NaN                     NaN
49             NaN               NaN                     NaN
50          Subway            1000.0                   400.0


**Displaying all my concluded data manipulation results**

In [27]:
# Displaying all the results
print("Average systemwide sales by category:")
print(avg_sales_by_category)


print("\nTop 10 fast food chains by average sales per unit:")
print(top_10_chains_by_avg_sales)



print("\nFast food chains with more franchised stores than company stores:")
print(chains_more_franchised_than_company)



print("\nDataset after deleting records with negative change in units from 2020:")
print(df)

Average systemwide sales by category:
Fast-Food Chains
Arby’s                                   NaN
Baskin-Robbins                           NaN
Bojangles                                NaN
Burger King                              NaN
Carl’s Jr.                               NaN
Checkers/Rally’s                         NaN
Chick-fil-A                              NaN
Chipotle                                 NaN
Church’s Chicken                         NaN
Culver’s                                 NaN
Dairy Queen                              NaN
Del Taco                                 NaN
Domino's                                 NaN
Dunkin'                                  NaN
El Pollo Loco                            NaN
Firehouse Subs                           NaN
Five Guys                                NaN
Freddy’s Frozen Custard & Steakburgers   NaN
Hardee’s                                 NaN
In-N-Out Burger                          NaN
Jack in the Box                          NaN
Jersey Mike’s                            NaN
Jimmy John’s                             NaN
KFC                                      NaN
Krispy Kreme                             NaN
Little Caesars                           NaN
Marco’s Pizza                            NaN
McAlister’s Deli                         NaN
McDonald’s                               NaN
Moe’s Southwest Grill                    NaN
Panda Express                            NaN
Panera Bread                             NaN
Papa Johns                               NaN
Papa Murphy’s                            NaN
Pizza Hut                                NaN
Popeyes Louisiana Kitchen                NaN
QDOBA                                    NaN
Raising Cane’s                           NaN
Shake Shack                              NaN
Sonic Drive-In                           NaN
Starbucks                                NaN
Subway                                   NaN
Taco Bell                                NaN
Tim Hortons                              NaN
Tropical Smoothie Cafe                   NaN
Wendy's                                  NaN
Whataburger                              NaN
White Castle                             NaN
Wingstop                                 NaN
Zaxby’s                                  NaN
Name: Systemwide Sales, dtype: float64

Top 10 fast food chains by average sales per unit:
   Fast-Food Chain  Average Sales per Unit
50          Subway                   400.0
0              NaN                     NaN
1              NaN                     NaN
2              NaN                     NaN
3              NaN                     NaN
4              NaN                     NaN
5              NaN                     NaN
6              NaN                     NaN
7              NaN                     NaN
8              NaN                     NaN

Fast food chains with more franchised stores than company stores:
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
20       NaN
21       NaN
22       NaN
23       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
39       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
48       NaN
49       NaN
50    Subway
Name: Fast-Food Chain, dtype: object

Dataset after deleting records with negative change in units from 2020:
                          Fast-Food Chains  \
0                                   Arby’s
1                           Baskin-Robbins
2                                Bojangles
3                              Burger King
6                              Chick-fil-A
7                                 Chipotle
9                                 Culver’s
11                                Del Taco
12                                Domino's
13                                 Dunkin'
14                           El Pollo Loco
15                          Firehouse Subs
16                               Five Guys
17  Freddy’s Frozen Custard & Steakburgers
19                         In-N-Out Burger
21                           Jersey Mike’s
22                            Jimmy John’s
23                                     KFC
24                            Krispy Kreme
26                           Marco’s Pizza
27                        McAlister’s Deli
28                              McDonald’s
30                           Panda Express
32                              Papa Johns
35               Popeyes Louisiana Kitchen
36                                   QDOBA
37                          Raising Cane’s
38                             Shake Shack
39                          Sonic Drive-In
40                               Starbucks
42                               Taco Bell
43                             Tim Hortons
44                  Tropical Smoothie Cafe
45                                 Wendy's
46                             Whataburger
48                                Wingstop
49                                 Zaxby’s
50                                     NaN

    U.S. Systemwide Sales (Millions - U.S Dollars)  \
0                                           4462.0
1                                            686.0
2                                           1485.0
3                                          10033.0
6                                          16700.0
7                                           7547.0
9                                           2489.0
11                                           931.0
12                                          8641.0
13                                         10416.0
14                                           973.0
15                                          1044.0
16                                          2093.0
17                                           759.0
19                                          1175.0
21                                          2203.0
22                                          2301.0
23                                          5100.0
24                                           996.0
26                                           899.0
27                                           869.0
28                                         45960.0
30                                          4452.0
32                                          3486.0
35                                          4775.0
36                                           835.0
37                                          2377.0
38                                           777.0
39                                          5835.0
40                                         24300.0
42                                         12600.0
43                                           687.0
44                                           948.0
45                                         11111.0
46                                          3089.0
48                                          2278.0
49                                          2233.0
50                                             NaN

    Average Sales per Unit (Thousands - U.S Dollars)  Franchised Stores  \
0                                             1309.0               2293
1                                              296.0               2317
2                                             1924.0                496
3                                             1470.0               7054
6                                             6100.0               2650
7                                             2641.0                  0
9                                             3099.0                831
11                                            1551.0                306
12                                            1317.0               6185
13                                            1127.0               9244
14                                            2000.0                292
15                                             909.0               1101
16                                            3172.0                911
17                                            1842.0                391
19                                            3200.0                  0
21                                            1145.0               2087
22                                             866.0               2616
23                                            1408.0               3906
24                                            4000.0                 51
26                                             934.0                957
27                                            1866.0                472
28                                            3420.0              12775
30                                            2173.0                147
32                                            1147.0               2564
35                                            1867.0               2716
36                                            1006.0                406
37                                            4893.0                 23
38                                            3679.0                 25
39                                            1643.0               3232
40                                            1200.0               6497
42                                            1823.0               6540
43                                            1200.0                637
44                                            1009.0               1038
45                                            1895.0               5535
46                                            3640.0                131
48                                            1592.0               1498
49                                            2484.0                761
50                                               NaN               2000

    Company Stores  2021 Total Units  Total Change in Units from 2020  \
0             1116              3409                               40
1                0              2317                              102
2              277               773                               15
3               51              7105                               24
6               82              2732                              155
7             2966              2966                              198
9                6               837                               55
11             294               600                                4
12             375              6560                              205
13               0              9244                              161
14             189               481                                1
15              39              1140                                9
16             479              1390                                8
17              29               420                               32
19             370               370                                5
21              13              2100                              246
22              41              2657                               48
23              47              3953                               10
24             307               358                                6
26              45              1002                               48
27              33               505                               24
28             663             13438                              244
30            2187              2334                              150
32             600              3164                               30
35              41              2754                              146
36             333               739                                2
37             544               567                               58
38             218               243                               38
39             320              3552                               26
40            8953             15450                              113
42             462              7002                              203
43               0               637                                4
44               1              1039                              125
45             403              5938                               57
46             742               873                               29
48              36              1534                              175
49             147               908                                3
50             500              2500                               50

   Fast-Food Chain  Systemwide Sales  Average Sales per Unit
0              NaN               NaN                     NaN
1              NaN               NaN                     NaN
2              NaN               NaN                     NaN
3              NaN               NaN                     NaN
6              NaN               NaN                     NaN
7              NaN               NaN                     NaN
9              NaN               NaN                     NaN
11             NaN               NaN                     NaN
12             NaN               NaN                     NaN
13             NaN               NaN                     NaN
14             NaN               NaN                     NaN
15             NaN               NaN                     NaN
16             NaN               NaN                     NaN
17             NaN               NaN                     NaN
19             NaN               NaN                     NaN
21             NaN               NaN                     NaN
22             NaN               NaN                     NaN
23             NaN               NaN                     NaN
24             NaN               NaN                     NaN
26             NaN               NaN                     NaN
27             NaN               NaN                     NaN
28             NaN               NaN                     NaN
30             NaN               NaN                     NaN
32             NaN               NaN                     NaN
35             NaN               NaN                     NaN
36             NaN               NaN                     NaN
37             NaN               NaN                     NaN
38             NaN               NaN                     NaN
39             NaN               NaN                     NaN
40             NaN               NaN                     NaN
42             NaN               NaN                     NaN
43             NaN               NaN                     NaN
44             NaN               NaN                     NaN
45             NaN               NaN                     NaN
46             NaN               NaN                     NaN
48             NaN               NaN                     NaN
49             NaN               NaN                     NaN
50          Subway            1000.0                   400.0